{% extends 'analisis/base.html' %}

{% block title %}Upload CUPS Report{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="text-center mb-4">CUPS Report Analyzer</h1>
    <form method="post" enctype="multipart/form-data" class="form-inline">
        {% csrf_token %}
        <div class="input-group">
            <input type="file" class="form-control" id="formFile" name="file">
            <button type="submit" class="btn btn-primary ml-2">Upload</button>
        </div>
    </form>
</div>
{% endblock %}
